data/
!traefik
traefik/*
!traefik/traefik.yml.sample
!traefik/conf_example
fail2ban/db
fail2ban/action.d/cloudflare.conf
fail2ban/jail.d/jail.local
fail2ban/jail.d/homeassistant.conf
mariadb/
.env
docker-compose.override.yml
